.parallax {
  /* Crear efecte parallax */
  background-attachment: fixed;
  background-position  : center;
  background-repeat    : no-repeat;
  background-size      : cover;
}

.bg-yogiis {
  background-color: #fff2cc;
}

.ombra {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ombra:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

header h1,
header h2 {
  text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
}
header .h-04 {
  background: linear-gradient(#ffc107, #fff2cc);
  height: 400px;
}
header#index {
  background-image   : url("https://source.unsplash.com/u0sviAL9pJM");
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  height             : 700px;
}
header#index .h-100 {
  background: linear-gradient(#ffc107, rgba(255, 242, 204, 0.48));
}

.dropdown-item.active,
.dropdown-item:active {
  color: #000;
  text-decoration: none;
  background-color: #ffc107;
}

li.breadcrumb-item a {
  color: #aa7f00;
}

.row{
  margin-right: 0px!important;margin-left:0px!important;
}
